body {
  margin: 0%;
  padding: 0%;
  color: black;
  font-family: sans-serif;
  font-size: larger;
  background-color: purple;
  text-align: center;
}
.color {
  background-color: black;
}
.container {
  padding: 0%;
  width: 480px;
  height: 600px;
  background-color: azure;
  align-items: center;
  justify-content: center;
}
.size {
  color: white;
  background-color: black;
  font-size: 50px;
}
